
<div style="text-align: center">
    <a class="btn flat-button" style="width: 35%; " asp-area="" asp-controller="Home" asp-action="List">My diagrams</a>
    <p></p>
    <a class="btn flat-button" style="width: 35%; " asp-area="" asp-controller="Manage" asp-action="ChangePassword">Change password</a>
</div>